# custom files
custom/*
# custom files but exclude
!custom/plugins/
!custom/themes/
!custom/aliases.zsh

# temp files directories
cache/
log/
*.swp
.DS_Store

# editor configs
.vscode
.idea

# zcompile cached files
*.zwc
